<table class='table table-condensed table-striped sortable' >
<thead>
	<tr>
		<th></th>
		<th>ID</th>
		<th>Name</th>
		<th>Project Title</th>
		<th>P.I. (username)</th>
		<th>Email Address</th>
		<th>Institute</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
<% cnt = 1 %>
<% for (n in pnames){ %>
     <% project = pnames[n] %>
	<% var public = proj[project].public; %>
	    <tr>
	    <td><%= cnt %></td>
	    <td><%= proj[project].pid %></td>
	    <td><a class='tooltip_pname' id='<%= proj[project].description %>' href='/projects/<%= proj[project].pid %>?metagenomic=1'><%= proj[project].project %></a></td>
	    <td><%= proj[project].title %></td>

	    	<td><%= proj[project].last %>, <%= proj[project].first %> (<%= proj[project].username %>)</td>
	    	<td><%= proj[project].email %></td>
	    	<td><%= proj[project].institution %></td>
				<% if(public==1){ %>
					<td></td>
				<% }else{ %>
					<td>private</td>
				<% } %>
	    </tr>
	    <% cnt += 1 %>
<% }%>
</tbody>
</table>
