<!-- if dividers  -->
<% if (dividers.indexOf( all_field_names[idx][1] ) != -1) { %>
<td colspan="<%= all_field_names.length%>" class="header_divider">
<!-- TODO: show the second column instead, if any -->
<!-- if required  -->
<% } else if (metadata_form_required_fields.indexOf( all_field_names[idx][0] ) != -1) { %>
  <td class="required_fields">
<% } else { %>
  <td>
<% } %>

  <!-- if dividers  -->
  <% if (dividers.indexOf( all_field_names[idx][1] ) != -1) { %>
    <label for=<%= all_field_names[idx][0] %>/><%= all_field_names[idx][1] %></label>
  <% } else { %>
    <span class="makeLeft">
      <label for=<%= all_field_names[idx][0] %>/><%= all_field_names[idx][1] %></label>
    </span>
    <span class="makeRight">
      <a href="#" class="td_clone_add">Copy 1st</a>
    </span>
  <% } %>
</td>
