
<img src='/images/projects/science.jpeg' alt="Smiley_face"  height='80'>
<div id='project_profile_div' >
<ul>
  <li>Project Name: <%= project[0].project %></li>
  <li>Project_id: <%= project[0].project_id %></li>
  
  <li>Title: <%= project[0].title %></li>
  <li>Description: <%= project[0].project_description %></li>
  <li> </li>
  <hr>
  <li>ToDo: Download Metadata: should metadata be pre-tabulated and compressed??</li>
  <form id='' method='POST' action='download_project_metadata_all'>
	  <!-- This form should run in the background andplace the seqs file 
	  			in a 'downloads' directory where it can be retrieved.
	  			The user should get an email when its ready.
	   -->
	  <input type='submit' value='Create Metadata File' />
	  <input type='hidden' name='project_id' value='<%= project[0].project_id %>' />
	  <input type='hidden' name='project' value='<%= project[0].project %>' />
  </form>


  <li>TODO: Compress the data files
  <form id='' method='POST' action='download_project_seqs_all'>
	  <!-- This form should run in the background and place the seqs file 
	  			in a 'downloads' directory where it can be retrieved.
	  			The user should get an email when its ready.
	   -->
	  <input type='submit' value='Create Fasta File' />
	  <input type='hidden' name='project_id' value='<%= project[0].project_id %>' />
	  <input type='hidden' name='project' value='<%= project[0].project %>' />
  </form>
		You will receive an email
  	when the files are ready
  	and they can be downloaded here: <a href='../export_data'>Export Data</a>
  </li>

</ul>


</div>
