
<% data = JSON.parse(info) %>
<% dscounts = JSON.parse(dscounts) %>
<% permissions = JSON.parse(permissions) %>
<img src='/images/projects/science.jpeg' alt="Smiley_face"  height='80'>
<div id='project_profile_div' >
<ul>
  <li>Project Name: <%= data.project %></li>
  <li>Project_id: <%= pid %></li>
  
  <li>Title: <%= data.title %></li>
  <li>Description: <%= data.description %></li>
  <% if(data.public) { %> 
    <li>Status: Public</li>
  <% } else { %>
    <li>Status: Private</li>
  <% } %>
  <li>Project Sequence Count: <%= pcount %></li>

  <li>Primary Investigator: <%= data.first %> <%= data.last %> (<%= data.email %>)</li>
  <li>Institution: <%= data.institution %></li>
  <li>Environmental Source: <%= data.env_source_name %></li>
  <li>Number of samples (datasets): <%= dsinfo.length %></li>
  <li>List of datasets with counts (and descriptions if available):
  <div id='profile_dataset_list' >
  <ol>
  <% for(n in dsinfo){ %>
  	<% if(dsinfo[n].ddesc == dsinfo[n].dname) { %>
  		<li><%= dsinfo[n].dname %> (<%= dscounts[dsinfo[n].did] %>)</li>
  	<% }else{ %>
  		<li><%= dsinfo[n].dname %>(<%= dscounts[dsinfo[n].did] %>) Desc: <%= dsinfo[n].ddesc %> </li>
  	<% } %>
  		
  <% } %>
  
  </ol>
  </div>
  </li>
  
  <hr>
  <% if(user.security_level === 1 || permissions[pid]  === 0 || permissions[pid] === user.user_id ) { %>

    <li>
    <form id='download_project_fasta_form_id' method='POST' action='../download_selected_seqs'>
  	  <!-- This form should run in the background and place the seqs file 
  	  			in a 'downloads' directory where it can be retrieved.
  	  			The user should get an email when its ready.
  	   -->
  	  <input type='button' id='download_project_fasta_form_btn' value='Create Fasta File' />
  	  <input type='hidden' name='download_type' value='whole_project' />
  	  <input type='hidden' name='project_id' value='<%= pid %>' />
  	  <input type='hidden' name='project' value='<%= data.project %>' />
	  <span  class='alert_flash_message' id='download_fasta_response' style='' ></span>
    </form> 
    </li>
    <li>
    <form id='download_project_metadata_form_id' method='POST' action='../download_selected_metadata'>
  	  <!-- This form should run in the background and place the seqs file 
  	  			in a 'downloads' directory where it can be retrieved.
  	  			The user should get an email when its ready.
  	   -->
  	  <input type='button'  id='download_project_metadata_form_btn' value='Create Metadata File' />
  	  <input type='hidden' name='download_type' value='whole_project' />
  	  <input type='hidden' name='project_id' value='<%= pid %>' />
  	  <input type='hidden' name='project' value='<%= data.project %>' />
	  <span  class='alert_flash_message' id='download_metadata_response' ></span>
    </form> 
    </li>
  <% } %>
  <li>

		When ready, the files can be downloaded here: <a href='../file_retrieval'>Files</a>
  </li>

</ul>


</div>
