<table class='table sortable'>
	<thead>
	<tr><th></th><th>Download</th><th>Size</th><th>Creation Time</th><th></th></tr>
	</thead>
	<tbody>
    <% for(t in file_info){ %>
		<% var filename = file_info[t].filename %>

		<tr>
			<td><%= parseInt(t)+1 %></td>
			<td>
				<a href='file_utils?fxn=download&user=<%= file_info[t].user_dirname %>&type=fasta&filename=<%= filename %>' ><%= filename %></a>
			</td>
			<td>
				<%= file_info[t].fileSize %> <%= file_info[t].sizer %>
			</td>
			<td>
				<%= file_info[t].mtime_format %>
			</td>
			<td>
				<a href='file_utils?fxn=delete&user=<%= file_info[t].user_dirname %>&filename=<%= filename %>' >delete from the server</a>
			</td>
		</tr>

    <% } %>
	</tbody>
</table>

<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js" defer></script>>
</body>
</html>
